<!doctype html>
<html {{site.language_attributes}}>
  <head>
    <meta charset="{{site.charset}}">
    <title>
    {% if wp_title %}
      {{ wp_title }} &middot; {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{wp_head()}}
  </head>
  <body>
    <div class="is-hidden">
      {% include "icons.svg" %}
    </div>
    <header class="site-header">
      This is the header.
    </header>
    <nav class="main-menu">
      <a class="js--anchor" href="#about">About</a>
      <a class="js--anchor" href="#ethos">Ethos</a>
      <a class="js--anchor" href="#racing">Racing</a>
      <a class="js--anchor" href="#membership">Membership</a>
    </nav>
    {% block content %}
      Sorry, no content
    {% endblock %}
    <footer class="site-footer">
      Chairman {{options.chairman}}
      Communication Director {{options.communications_director}}
      Scretary {{options.secretary}}
      Treasurer {{options.treasurer}}
      Race Captain {{options.race_captain}}
      Road Captain {{options.road_captain}}
      Social Secretary {{options.social_secretary}}

      General enquiries <a href="mailto:{{options.general_enquiries}}">{{options.general_enquiries}}</a>
      Racing enquiries <a href="{{options.racing}}">{{options.racing}}</a>
      Membership enquiries <a href="{{options.membership}}">{{options.membership}}</a>


      <a href="{{options.facebook}}">
        <svg class="icon icon--social" role="presentation">
          <use xlink:href="#icon-facebook">
        </svg>
      </a>
      <a href="{{options.twitter}}">
        <svg class="icon icon--social" role="presentation">
          <use xlink:href="#icon-twitter">
        </svg>
      </a>
      <a href="{{options.instagram}}">
        <svg class="icon icon--social" role="presentation">
          <use xlink:href="#icon-instagram">
        </svg>
      </a>
      <a href="{{options.strava}}">
        <svg class="icon icon--social" role="presentation">
          <use xlink:href="#icon-strava">
        </svg>
      </a>
    </footer>
    {{wp_footer()}}
  </body>
</html>
