<!doctype html>
<html {{site.language_attributes}}>
  <head>
    <meta charset="{{site.charset}}">
    <title>
    {% if wp_title %}
      {{ wp_title }} &middot; {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{wp_head()}}
  </head>
  <body>
    <div class="is-hidden">
      {% include "icons.svg" %}
    </div>
    <header class="site-header">
      This is the header.
    </header>
    <nav class="main-menu">
      <a class="js--anchor" href="#about">About</a>
      <a class="js--anchor" href="#ethos">Ethos</a>
      <a class="js--anchor" href="#racing">Racing</a>
      <a class="js--anchor" href="#membership">Membership</a>
    </nav>
    {% block content %}
      Sorry, no content
    {% endblock %}
    <footer class="site-footer">
      This is the footer.
    </footer>
    {{wp_footer()}}
  </body>
</html>
